.form {
  display: flex;
  flex-direction: column;

  width: 450px;
  padding: 20px;
  margin: 0 auto;

  border: 1px solid #000;
  border-radius: 5px;
  margin-bottom: 40px;
  /* background-color: #c3adad; */
  background-color: rgb(255, 255, 255, 0.4);
}

.field {
  margin: 0 auto;
}

.btn {
  width: 200px;
  height: 40px;
  margin: 0 auto;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  /* color: #fff; */
  border: none;
  border: 1px solid #000;
  border-radius: 5px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  /* background: rgba(0, 0, 0, 0.3); */
  background-color: #fff;
}

.btn:hover {
}

.error {
  /* width: 400px;
  height: 25px;
  border-radius: 5px; */
  /* background-color: rgb(255, 245, 245); */
  display: block;
  color: #8e0303;
}

.div {
  margin-bottom: 15px;
  font-weight: bold;
  color: #000000;
}

.svg {
  margin-right: 7px;
}
