.form {
  display: flex;
  flex-direction: column;
  width: 450px;
  padding: 20px;

  border: 1px solid #000;
  border-radius: 5px;
  margin-bottom: 40px;
}

.field {
  margin: 0 auto;
}

.btn {
  width: 200px;
  margin: 0 auto;
  cursor: pointer;

  border-radius: 5px;
}

.div.error {
  color: #cf0000;
}

.div {
  margin-bottom: 15px;
}
